@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans';
    color: white;
    background-color: #BBE1FA;
}
.login-popup{
    margin: 10% 33%;
    background-color: #3282B8;
    padding: 40px;
}
img{
    width: 40%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-weight: 200;
    font-size: 35px;
    text-align: center;
}
li{
    font-size: 13px;
}
.name-tag{
    margin: 0;
}
#userName, #userPsw, #name, #psw{
    width: 85%;
    border-radius: 3px;
    background-color: #1B262C;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    height: 50px;
}
.btn-login{
    background: #0F4C75;
    border: 0;
    width: 95%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.btn-login:hover{
    background-color: #BBE1FA;
}
a{
    float: right;
    text-decoration: none;
    color: #BBE1FA;
}
a:hover{
    color: #1B262C;
    transition: 0.3s;
}