* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.img-icon {
    width: 100px;
    height: 100px;
}
.home-container {
    width: auto;
    height: auto;
    padding: 100px;
    background-color: #D5EEBB;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-left {
    width: 70%;
    height: 500px;
    padding: 20px;
    background-color: #444941;
    overflow-wrap: wrap;
}
.container-right {
    width: 30%;
    height: 500px;
    background-color: #7FC8A9;
}
.items {
    padding: 20px;
    background-color: #5F7A61;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.items .item {
    background-color: #B61919;
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: row;
}
button {
    cursor: pointer;
}
.item .content {
    width: 150px;
    height: 50px;
}