@media all and (min-width: 768px), print {
  .column.main .cart-summary .actions-toolbar,
  .cart.table-wrapper .item-actions .actions-toolbar {
    margin-left: 0;
  }
  .cart-container:before,
  .cart-container:after,
  .login-container:before,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:before,
  .account .column.main .block:not(.widget) .block-content:after,
  .header.content:before,
  .header.content:after,
  .page-header .header.panel:before,
  .page-header .header.panel:after,
  .account .toolbar:before,
  .account .toolbar:after{
    content: "";
    display: table;
  }
  .cart-container:after,
  .login-container:after,
  .account .column.main .block:not(.widget) .block-content:after,
  .header.content:after,
  .page-header .header.panel:after,
  .account .toolbar:after{
    clear: both;
  }
  .column.main,
  .sidebar-main{
    box-sizing: border-box;
  }
  .cart-container .form-cart .actions {
    text-align: right;
  }
  .cart-container .form-cart .action.clear{
    margin-right: 10px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1280px;
    box-sizing: border-box;
  }
  .page-main {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .page-main {
    width: auto;
  }
  .columns {
    display: block;
  }
  .column.main {
    min-height: 300px;
  }
  .panel.header {
    padding: 10px 20px;
  }
  .nav-toggle {
    display: none;
  }
  .navigation {
    background: #f5f5f5;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navigation:empty {
    display: none;
  }
  .navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
  }
  .navigation li.level0 {
    border-top: none;
  }
  .navigation .level0 {
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
  }
  .navigation .level0:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .navigation .level0 > .level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
  }
  .navigation .level0 > .level-top:hover,
  .navigation .level0 > .level-top.ui-state-focus {
    color: #333;
    text-decoration: none;
  }
  .navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    color: #333;
    text-decoration: none;
    display: inline-block;
  }
  .navigation .level0.parent:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0 .submenu {
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
    font-weight: 700;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul {
    margin-top: 11px;
  }
  .navigation .level0 .submenu > ul:before,
  .navigation .level0 .submenu > ul:after {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
  }
  .navigation .level0 .submenu > ul:before {
    color: #fff;
    left: 20px;
    top: -20px;
    border: 10px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #fff;
    z-index: 4;
  }
  .navigation .level0 .submenu > ul:after {
    border: 11px solid transparent;
    height: 0;
    width: 0;
    border-bottom-color: #d1d1d1;
    color: #d1d1d1;
    left: 19px;
    top: -22px;
    z-index: 3;
  }
  .navigation .level0 .submenu a {
    display: block;
    line-height: inherit;
    color: #575757;
    padding: 8px 20px;
  }
  .navigation .level0 .submenu a:hover,
  .navigation .level0 .submenu a.ui-state-focus {
    background: #e8e8e8;
    color: #333;
    text-decoration: none;
  }
  .navigation .level0 .submenu .active > a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 3px;
  }
  .navigation .level0 .submenu .submenu {
    top: 0 !important;
    left: 100% !important;
  }
  .navigation .level0 .submenu .submenu-reverse {
    left: auto !important;
    right: 100%;
  }
  .navigation .level0.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .navigation .level0.more:after {
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: inherit;
    color: inherit;
    content: "\e607";
    font-family: "icons-blank-theme";
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
  }
  .navigation .level0.more:before {
    display: none;
  }
  .navigation .level0.more:after {
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
  }
  .navigation .level0.more:hover > .submenu {
    overflow: visible !important;
  }
  .navigation .level0.more li {
    display: block;
  }
  .panel.header .links,
  .panel.header .switcher {
    display: inline-block;
  }
  .fieldset > .field {
    margin: 0 0 20px;
    box-sizing: border-box;
    margin: 0 0 29px;
  }
  .fieldset > .field > .label {
    margin: 0;
  }
  .fieldset > .field:before,
  .fieldset > .field:after {
    content: "";
    display: table;
  }
  .fieldset > .field:after {
    clear: both;
  }
  .fieldset > .field.choice:before,
  .fieldset > .field.no-label:before {
    padding: 6px 15px 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: " ";
    float: left;
    height: 1px;
  }
  .fieldset > .field .description {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .label {
    padding: 6px 15px 0 0;
    text-align: right;
    width: 25.8%;
    box-sizing: border-box;
    float: left;
  }
  .fieldset > .field:not(.choice) > .control {
    width: 74.2%;
    float: left;
  }
  .product.data.items {
    position: relative;
    z-index: 1;
  }
  .product.data.items:before,
  .product.data.items:after {
    content: "";
    display: table;
  }
  .product.data.items:after {
    clear: both;
  }
  .product.data.items > .item.title {
    float: left;
    width: auto;
  }
  .product.data.items > .item.title > .switch {
    height: 20px;
    display: block;
    position: relative;
    z-index: 2;
  }
  .product.data.items > .item.content {
    margin-top: 20px;
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    width: 100%;
  }
  .product.data.items > .item.content:before,
  .product.data.items > .item.content:after {
    content: "";
    display: table;
  }
  .product.data.items > .item.content:after {
    clear: both;
  }
  .product.data.items > .item.content.active {
    display: block;
  }
  .product.data.items > .item.title {
    margin: 0 5px 0 0;
  }
  .product.data.items > .item.title > .switch {
    font-weight: 600;
    line-height: 20px;
    font-size: 1.4rem;
    color: #7d7d7d;
    text-decoration: none;
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    height: 20px;
    padding: 5px 20px 5px 20px;
  }
  .product.data.items > .item.title > .switch:visited {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:hover {
    color: #7d7d7d;
    text-decoration: none;
  }
  .product.data.items > .item.title > .switch:active {
    color: #333;
    text-decoration: none;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:focus,
  .product.data.items > .item.title:not(.disabled) > .switch:hover {
    background: #fcfcfc;
  }
  .product.data.items > .item.title:not(.disabled) > .switch:active,
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    background: #fff;
    color: #333;
  }
  .product.data.items > .item.title.active > .switch,
  .product.data.items > .item.title.active > .switch:focus,
  .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 6px;
  }
  .product.data.items > .item.content {
    background: #fff;
    margin-top: 31px;
    padding: 20px 20px 20px 20px;
    border: 0;
    border-top: 1px solid #d1d1d1;
  }
  .actions-toolbar:before,
  .actions-toolbar:after {
    content: "";
    display: table;
  }
  .actions-toolbar:after {
    clear: both;
  }
  .actions-toolbar .secondary {
    float: right;
  }
  .actions-toolbar .primary,
  .actions-toolbar .secondary {
    display: inline-block;
  }
  .actions-toolbar .primary a.action,
  .actions-toolbar .secondary a.action {
    display: inline-block;
  }
  .actions-toolbar .primary .action {
    margin: 0 5px 0 0;
  }
  .actions-toolbar .secondary a.action {
    margin-top: 6px;
  }
  .actions-toolbar > .primary,
  .actions-toolbar > .secondary {
    margin-bottom: 0;
  }
  .actions-toolbar > .primary .action,
  .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
  }
  .page-products .products-grid .product-item {
    width: 33.33333333%;
  }
  .page-products .columns {
    padding-top: 0;
    position: relative;
    z-index: 1;
  }
  .products.wrapper ~ .toolbar .pages {
    float: left;
  }
  .toolbar-amount {
    float: left;
  }
  .product-info-main .box-tocart,
  .product-options-bottom .box-tocart {
    display: table;
  }
  .product-info-main .box-tocart .field.qty,
  .product-options-bottom .box-tocart .field.qty {
    display: table-cell;
  }
  .product-info-main .box-tocart .actions,
  .product-options-bottom .box-tocart .actions {
    display: table-cell;
    padding-top: 25px;
    text-align: center;
    vertical-align: bottom;
  }
  .product-info-main .page-title-wrapper .page-title {
    margin-top: -13px;
  }
  .sidebar .product-items .product-item-info .product-item-photo {
    float: left;
    left: auto;
    margin: 0 10px 10px 0;
    position: relative;
    top: auto;
  }
  .sidebar .product-items .product-item-details {
    margin: 0;
  }
  .sidebar .product-items .product-item-actions {
    clear: left;
  }
  .product-info-main {
    float: right;
  }
  .product.media {
    float: left;
    margin-bottom: 25px;
  }
  .block-search {
    float: right;
    padding-left: 15px;
    position: relative;
    width: 250px;
    z-index: 4;
  }
  .block-search .control {
    border-top: 0;
    margin: 0;
    padding: 0 0 25px;
  }
  .block-search .nested {
    display: block;
    padding-top: 5px;
    position: absolute;
  }
  .block-search input {
    margin: 0;
    padding-right: 35px;
    position: static;
  }
  .block-search .action.search {
    display: inline-block;
    background-image: none;
    background: none;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    padding: 5px 0;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
  }
  .block-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 22px;
    color: #808080;
    content: "\e615";
    font-family: "icons-blank-theme";
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
  }
  .block-search .action.search:hover:before {
    color: inherit;
  }
  .block-search .action.search:active:before {
    color: inherit;
  }
  .block-search .action.search:focus,
  .block-search .action.search:active {
    background: none;
    border: none;
  }
  .block-search .action.search:hover {
    background: none;
    border: none;
  }
  .block-search .action.search.disabled,
  .block-search .action.search[disabled],
  fieldset[disabled] .block-search .action.search {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
  .block-search .action.search:focus:before {
    color: #333;
  }
  .search-autocomplete {
    margin-top: 0;
  }
  .cart-container .widget {
    float: left;
  }
  .cart-summary {
    float: right;
    position: relative;
  }
  .column.main .cart-summary .actions-toolbar > .secondary {
    float: none;
  }
  .cart-summary .block .fieldset .field {
    margin: 0 0 20px;
    margin: 0 0 10px;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .cart-summary .block .fieldset .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .cart-summary .block .fieldset .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .cart-summary .block .fieldset .field.choice:before,
  .cart-summary .block .fieldset .field.no-label:before {
    display: none;
  }
  .cart.table-wrapper .items {
    min-width: 100%;
    width: auto;
  }
  .cart.table-wrapper .item .col.item {
    padding: 27px 8px 10px;
  }
  .cart.table-wrapper .item-actions td {
    text-align: right;
  }
  .cart.table-wrapper .product-item-photo {
    display: table-cell;
    max-width: 100%;
    padding-right: 20px;
    position: static;
    vertical-align: top;
    width: 1%;
  }
  .cart.table-wrapper .product-item-details {
    display: table-cell;
    vertical-align: top;
    white-space: normal;
    width: 99%;
  }
  .cart.table-wrapper .item-actions .actions-toolbar {
    text-align: left;
  }
  .minicart-wrapper {
    margin-left: 13px;
  }
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .login-container .block.login .actions-toolbar > .primary {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .login-container .block.login .actions-toolbar > .secondary {
    float: left;
  }
  .login-container .fieldset > .field > .control {
    width: 55%;
  }
  .form-create-account .fieldset-fullname .fields .field {
    float: left;
    margin: 0 10px 10px 0;
  }
  .form.create.account {
    min-width: 600px;
    width: 50%;
  }
  .wishlist.window.popup {
    bottom: auto;
    top: 20%;
    left: 50%;
    margin-left: -212px;
    width: 380px;
    right: auto;
  }
  .wishlist.window.popup .field {
    margin: 0 0 20px;
  }
  .wishlist.window.popup .field:not(.choice) > .label {
    box-sizing: content-box;
    float: none;
    width: auto;
    text-align: left;
    padding: 0;
  }
  .wishlist.window.popup .field:not(.choice) > .control {
    float: none;
    width: auto;
  }
  .wishlist.window.popup .field > .label {
    margin: 0 0 5px;
    display: inline-block;
  }
  .wishlist.window.popup .field.choice:before,
  .wishlist.window.popup .field.no-label:before {
    display: none;
  }
  .block-wishlist-management {
    margin-bottom: 20px;
  }
  .block-wishlist-management .wishlist-select {
    border-bottom: 1px solid #e8e8e8;
    display: table;
    margin-bottom: 15px;
    width: 100%;
  }
  .block-wishlist-management .wishlist-select .wishlist-name {
    display: table-cell;
    margin-right: 10px;
    padding: 5px 10px 10px;
    vertical-align: top;
    white-space: nowrap;
    width: 5%;
  }
  .block-wishlist-management .wishlist-select-items {
    display: table-cell;
    padding-right: 160px;
    vertical-align: top;
  }
  .block-wishlist-management .wishlist-select-items .item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 10px;
  }
  .block-wishlist-management .wishlist-select-items .item:last-child {
    margin-right: 0;
  }
  .block-wishlist-management .wishlist-select-items .current {
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
  }
  .block-wishlist-management .wishlist-select .wishlist-name-current {
    display: none;
  }
  .block-wishlist-management .wishlist-add.item {
    position: absolute;
    right: 0;
    top: 0;
  }
  .block-wishlist-management .wishlist-title strong {
    font-size: 4rem;
  }
  .block-wishlist-management .wishlist-info {
    float: left;
  }
  .block-wishlist-management .wishlist-toolbar {
    float: right;
  }
  .block-wishlist-info-items .product-item-photo {
    margin-left: 0;
  }
  .products-grid.wishlist .product-item-checkbox {
    float: left;
  }
  .products-grid.wishlist .product-item-checkbox + .product-item-name {
    margin-left: 25px;
  }
  .block.newsletter {
    width: 32%;
  }
  .block.newsletter .field {
    margin-right: 5px;
  }
  .block.newsletter .field .control {
    width: 100%;
  }
  .block.newsletter .action.subscribe {
    border-radius: 3px;
  }
  .products.wrapper.list .product-reviews-summary {
    margin: 0;
  }
  .table-order-items .subtotal,
  .table-order-items .amount {
    text-align: right;
  }
  .order-actions-toolbar .action.print {
    display: block;
    float: right;
  }
  .page-title-wrapper .order-date {
    margin-top: -20px;
  }
  [class^="sales-guest-"] .column.main .block:not(.widget) .block-content .box,
  .sales-guest-view .column.main .block:not(.widget) .block-content .box {
    margin-bottom: 20px;
  }
  html,
  body {
    height: 100%;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .page-wrapper > .breadcrumbs,
  .page-wrapper > .top-container,
  .page-wrapper > .widget {
    box-sizing: border-box;
    width: 100%;
  }
  .ie10 .page-wrapper,
  .ie11 .page-wrapper {
    height: 100%;
  }
  .navigation ul {
    padding: 0 8px;
  }
  .header.panel > .header.links {
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
  }
  .header.panel > .header.links > li {
    display: inline-block;
    vertical-align: top;
  }
  .header.panel > .header.links > li {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .header.panel > .header.links > li.welcome,
  .header.panel > .header.links > li a {
    line-height: 1.4;
  }
  .header.panel > .header.links > li.welcome a {
    padding-left: 5px;
  }
  .header.content {
    padding: 30px 20px 0;
  }
  .page-header {
    border: 0;
    margin-bottom: 0;
  }
  .page-header .panel.wrapper {
    border-bottom: 1px solid #e8e8e8;
  }
  .page-header .header.panel {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-header .switcher {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title {
    display: inline-block;
  }
  .page-main > .page-title-wrapper .page-title + .action {
    float: right;
    margin-top: 20px;
  }
  .logo {
    margin: -8px auto 25px 0;
  }
  .logo img {
    max-height: inherit;
  }
  .footer.content .block {
    float: right;
  }
  .footer.content .links {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 50px 0 0;
    vertical-align: top;
  }
  .footer.content .switcher.store {
    display: inline-block;
    padding-right: 50px;
    vertical-align: top;
  }
  .products-grid.wishlist .product-item-tooltip {
    display: inline-block;
  }
  .products-grid.wishlist .product-item-actions {
    margin: 10px 0 0;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .products-grid.wishlist .product-item .fieldset .field.qty .label {
    width: auto;
  }
  .products-grid.wishlist .product-item .box-tocart .actions-primary {
    margin: 0;
  }
  .products-grid.wishlist .product-item .box-tocart .stock {
    margin: 20px 0 0;
  }
  .wishlist-index-index .product-item-info {
    width: 240px;
  }
  .block.widget .products-grid .product-item {
    width: 33.33333333%;
  }
  .sidebar .block.widget .pager .pages-item-next {
    padding: 0;
  }
  .sidebar .block.widget .pager .pages-item-next .action {
    margin: 0;
  }
}
@media all and (min-width: 1024px), print {
  .products-grid .product-item {
    width: 20%;
  }
  .page-products .products-grid .product-items {
    margin: 0;
  }
  .page-products .products-grid .product-item {
    margin-left: calc((100% - 4 * 23.233%) / 3);
    padding: 0;
    width: 23.233%;
  }
  .page-products .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .wishlist-index-index .products-grid .product-items {
    margin: 0;
  }
  .wishlist-index-index .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .wishlist-index-index .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
  .block.widget .products-grid .product-item {
    width: 20%;
  }
  .block.widget .products-grid .product-items {
    margin: 0;
  }
  .block.widget .products-grid .product-item {
    margin-left: calc((100% - 4 * 24.439%) / 3);
    padding: 0;
    width: 24.439%;
  }
  .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
}
@media all and (min-width: 1440px), print {
  .sidebar .product-items .product-item-info .product-item-photo {
    float: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
  }
  .sidebar .product-items .product-item-details {
    margin-left: 85px;
  }
}