body {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
nav,
section,
summary {
  display: block;
}
audio{
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
nav ul,
nav ol {
  list-style: none none;
}
img {
  border: 0;
}
img{
  height: auto;
  max-width: 100%;
}
body {
  color: #333;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}
b,
strong {
  font-weight: 700;
}
i {
  font-style: italic;
}
mark {
  background: #f0f0f0;
  color: #000;
}
small,
.small {
  font-size: 12px;
}
hr {
  border: 0;
  border-top: 1px solid #d1d1d1;
  margin-bottom: 20px;
  margin-top: 20px;
}
h1 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h4 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h5 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h6 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  color: #333;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
a,
.alink {
  text-decoration: none;
}
a:visited,
.alink:visited {
  color: #1979c3;
  text-decoration: none;
}
a:hover,
.alink:hover {
  color: #006bb4;
  text-decoration: underline;
}
a:active,
.alink:active {
  color: #ff5501;
  text-decoration: underline;
}
ul,
ol {
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}
ul li,
ol li {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}
table th {
  text-align: left;
}
table tbody tr th,
table tfoot tr th,
table tbody tr td,
table tfoot tr td {
  vertical-align: top;
}
table thead tr th,
table thead tr td {
  vertical-align: bottom;
}
table thead tr th,
table tbody tr th,
table tfoot tr th,
table thead tr td,
table tbody tr td,
table tfoot tr td {
  padding: 8px 10px;
}
.cart.table-wrapper .actions-toolbar .action{
  background-image: none;
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  padding: 7px 15px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}
button:focus,
button:active,
.cart.table-wrapper .actions-toolbar .action:focus,
.cart.table-wrapper .actions-toolbar .action:active{
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333;
}
button:hover,
.cart.table-wrapper .actions-toolbar .action:hover{
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555;
}
button.disabled,
button[disabled],
fieldset[disabled] button,
.cart.table-wrapper .actions-toolbar .action.disabled,
.cart.table-wrapper .actions-toolbar .action[disabled],
fieldset[disabled] .cart.table-wrapper .actions-toolbar .action{
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="datetime"]:disabled,
input[type="email"]:disabled {
  opacity: 0.5;
}
input[type="radio"] {
  margin: 2px 5px 0 0;
}
input[type="radio"]:disabled {
  opacity: 0.5;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
*:focus {
  box-shadow: none;
  outline: 0;
}
input:not([disabled]):focus{
  box-shadow: 0 0 3px 1px #68a8e0;
}
.product-items,
.items,
.footer.content ul{
  margin: 0;
  padding: 0;
  list-style: none none;
}
.product-items li,
.items li,
.footer.content ul li{
  margin: 0;
}
.actions-toolbar .primary .action,
.actions-toolbar .secondary .action {
  width: 100%;
}
.products-list .product-image-wrapper,
.cart.table-wrapper .product-image-wrapper,
.minicart-items .product-image-wrapper {
  height: auto;
  padding: 0 !important;
}
.products-list .product-image-wrapper .product-image-photo,
.cart.table-wrapper .product-image-wrapper .product-image-photo,
.minicart-items .product-image-wrapper .product-image-photo{
  position: static;
}
.product.media .product.photo .photo.image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.account .column.main .block:not(.widget) .box-title{
  display: inline-block;
  margin: 0 0 5px;
}
.account .column.main .block:not(.widget) .box-title span,
.sidebar .block strong{
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #666666;
}
.sidebar .block ul li strong{
  font-size: 1.3rem;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav{
  flex-direction: column;
}
.account .column.main .block:not(.widget) .box-title .action{
  font-weight: 400;
  margin-left: 10px;
}
.account .column.main .block:not(.widget) .block-content p:last-child
  .column.main
  .block:not(.widget)
  .block-content
  p:last-child{
  margin-bottom: 0;
}
.account .column.main .block:not(.widget) .block-content .box{
  margin-bottom: 20px;
}
.account .column.main .block:not(.widget) .block-title>strong{
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.account .column.main .block:not(.widget) .block-content a.action,
.account .column.main .block:not(.widget) .block-title a.action{
  color: #363f4d !important;
  font-size: 1.4rem;
}
.account .column.main .block:not(.widget) .block-title a.action span{
  font-size: 1.3rem;
}
.account .column.main .block:not(.widget) .block-content a.action {
  margin-right: 25px;
}
.account .column.main .block:not(.widget) .block-content,
.account .column.main .block:not(.widget) .block-title{
  font-size: 14px;
}
.cart.table-wrapper .col.qty .input-text,
.account .table-wrapper .data.table.wishlist .box-tocart .qty,
.products-grid.wishlist .product-item .box-tocart input.qty{
  text-align: center;
  width: 47px;
}
.block{
  margin-bottom: 40px;
}
.filtered .item .action.remove {
  display: inline-block;
  text-decoration: none;
}
.product-item-name,
.product.name a {
  font-weight: 400;
}
.product-item-name a,
.product.name a a {
  color: #333;
  text-decoration: none;
}
.fieldset .field.no-label .label,
.fieldset .fields .field.no-label .label,
.product-item-actions .actions-secondary .action span,
.cart.table-wrapper .col.qty .label,
.minicart-wrapper .action.showcart .text,
.minicart-wrapper .action.showcart .counter-label{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
.cart.table-wrapper .actions-toolbar:before,
.cart.table-wrapper .actions-toolbar:after,
.minicart-items .product-item .product:before,
.minicart-items .product-item .product:after{
  content: "";
  display: table;
}
.product-item-actions .actions-secondary .action{
  display: inline-block;
  text-decoration: none;
}
.product-item-actions .actions-secondary .action span{
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product-item-actions .actions-secondary .action:before{
  -webkit-font-smoothing: antialiased;
  font-size: 29px;
  line-height: 24px;
  color: #7d7d7d;
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.product-item-actions .actions-secondary .action:hover:before{
  color: #333;
}
.product-info-main .box-tocart .action.tocart,
.product-options-bottom .box-tocart .action.tocart,
.block-minicart .block-content .actions .primary .action.primary{
  line-height: 2.2rem;
  font-size: 1.8rem;
}
.cart-summary .actions-toolbar .primary button,
.cart-summary
  .actions-toolbar
  .primary
  .cart.table-wrapper
  .actions-toolbar
  .action {
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  color: #333;
}
.cart-summary .actions-toolbar .primary button:focus,
.cart-summary .actions-toolbar .primary button:active,
.cart-summary
  .actions-toolbar
  .primary
  .cart.table-wrapper
  .actions-toolbar
  .action:focus,
.cart-summary
  .actions-toolbar
  .primary
  .cart.table-wrapper
  .actions-toolbar
  .action:active {
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #333;
}
.cart-summary .actions-toolbar .primary button:hover,
.cart-summary
  .actions-toolbar
  .primary
  .cart.table-wrapper
  .actions-toolbar
  .action:hover{
  background: #e2e2e2;
  border: 1px solid #cdcdcd;
  color: #555;
}
.block-minicart .subtotal .label:after,
.minicart-items .details-qty .label:after,
.minicart-items .price-minicart .label:after {
  content: ": ";
}
.no-display,
.cart-totals .table-caption{
  display: none;
}
.cart-totals .mark{
  font-weight: 400;
  padding-left: 4px;
}
.cart-totals .mark strong{
  font-weight: 400;
}
.cart-totals .amount{
  padding-right: 4px;
  text-align: right;
  white-space: nowrap;
}
.cart-totals .amount strong{
  font-weight: 400;
}
.cart-totals .grand .mark,
.cart-totals .grand .amount{
  padding-top: 20px;
}
.cart-totals .grand .amount{
  padding-right: 4px;
  text-align: right;
}
.cart-totals .grand .amount strong{
  font-weight: 700;
}
.cart-totals .msrp {
  margin-bottom: 10px;
}
.cart-totals .totals-tax-summary .mark,
.cart-totals .totals-tax-summary .amount{
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  cursor: pointer;
}
.cart-totals .totals-tax-summary .amount .price{
  display: block;
  text-decoration: none;
  padding-right: 25px;
  position: relative;
}
.cart-totals .totals-tax-summary.expanded .mark,
.cart-totals .totals-tax-summary.expanded .amount{
  border-bottom: 0;
}
.cart-totals .totals-tax-summary.expanded .amount .price:after{
  content: "\e621";
}
.cart-totals .totals-tax-details{
  display: none;
  border-bottom: 1px solid #d1d1d1;
}
.cart-totals .totals-tax-details.shown{
  display: table-row;
}
.cart-summary .block .title{
  border-top: 1px solid #d1d1d1;
  cursor: pointer;
  font-weight: 600;
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  overflow: hidden;
  padding: 7px 30px 7px 5px;
  position: relative;
}
.cart-summary .block .title:after{
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: inherit;
  color: inherit;
  content: "\e622";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
}
.cart-summary .block .title:after{
  position: absolute;
  right: -5px;
  top: -5px;
}
.column.main .cart-summary .block .title strong {
  font-size: 1.8rem;
  font-weight: 400;
}
.cart-summary .block .content {
  display: none;
}
.items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.columns:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.columns .column.main {
  flex-grow: 1;
  flex-basis: 100%;
  padding-bottom: 40px;
  order: 1;
}
.table-wrapper {
  margin-bottom: 20px;
}
table caption {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.table:not(.cart):not(.totals) {
  border: none;
}
.table:not(.cart):not(.totals) thead tr th,
.table:not(.cart):not(.totals) tbody tr th,
.table:not(.cart):not(.totals) tfoot tr th,
.table:not(.cart):not(.totals) thead tr td,
.table:not(.cart):not(.totals) tbody tr td,
.table:not(.cart):not(.totals) tfoot tr td {
  border: none;
}
.table:not(.cart):not(.totals) thead tr th,
.table:not(.cart):not(.totals) thead tr td {
  border-bottom: 1px solid #d1d1d1;
}
.table:not(.cart):not(.totals) tfoot tr:first-child th,
.table:not(.cart):not(.totals) tfoot tr:first-child td {
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
}
.table:not(.cart):not(.totals) tfoot .mark {
  font-weight: 400;
  text-align: right;
}
.panel.header .links,
.panel.header .switcher {
  display: none;
}
.nav-sections {
  background: #f5f5f5;
}
.nav-toggle {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 15px;
  position: absolute;
  top: 15px;
  z-index: 14;
}
.nav-toggle:before {
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: inherit;
  color: #808080;
  content: "\e609";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.nav-toggle:hover:before {
  color: #333;
}
.nav-toggle span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.tooltip.wrapper {
  position: relative;
}
.tooltip.wrapper .tooltip.content {
  background: #fff;
  max-width: 360px;
  min-width: 210px;
  padding: 12px 16px;
  z-index: 100;
  display: none;
  position: absolute;
  text-align: left;
  color: #333;
  line-height: 1.4;
  border: 1px solid #bbb;
  margin-top: 5px;
  left: 0;
  top: 100%;
}
.tooltip.wrapper .tooltip.content:after,
.tooltip.wrapper .tooltip.content:before {
  border: solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.tooltip.wrapper .tooltip.content:after {
  border-width: 5px;
  border-color: transparent;
}
.tooltip.wrapper .tooltip.content:before {
  border-width: 6px;
  border-color: transparent;
}
.tooltip.wrapper .tooltip.content:after,
.tooltip.wrapper .tooltip.content:before {
  bottom: 100%;
}
.tooltip.wrapper .tooltip.content:after {
  border-bottom-color: #fff;
  left: 15px;
  margin-left: -5px;
}
.tooltip.wrapper .tooltip.content:before {
  border-bottom-color: #bbb;
  left: 15px;
  margin-left: -6px;
}
.tooltip.wrapper tooltip.toggle {
  cursor: help;
}
.tooltip.wrapper tooltip.toggle:hover + .tooltip.content,
.tooltip.wrapper tooltip.toggle:focus + .tooltip.content,
.tooltip.wrapper:hover .tooltip.content {
  display: block;
}
.tooltip.wrapper .tooltip.content .label {
  margin-top: 10px;
}
.tooltip.wrapper .tooltip.content .label:first-child {
  margin-top: 0;
}
.tooltip.wrapper .tooltip.content .values {
  margin: 0;
}
.ui-tooltip {
  position: absolute;
  z-index: 9999;
}
.fieldset {
  border: 0;
  margin: 0 0 40px;
  padding: 0;
  letter-spacing: -0.31em;
}
.fieldset * {
  letter-spacing: normal;
}
.fieldset .legend {
  margin: 0 0 25px;
  padding: 0;
  box-sizing: border-box;
  float: left;
  line-height: 1.2;
  font-size: 2rem;
}
.fieldset .legend + br {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.fieldset:last-child {
  margin-bottom: 0;
}
.fieldset .field,
.fieldset .fields .field {
  margin: 0 0 20px;
}
.fieldset .field .label,
.fieldset .fields .field .label {
  margin: 0 0 5px;
  display: inline-block;
}
.fieldset .field:last-child,
.fieldset .fields .field:last-child {
  margin-bottom: 0;
}
.fieldset .field .label,
.fieldset .fields .field .label {
  font-weight: 700;
}
.fieldset .field .label + br,
.fieldset .fields .field .label + br {
  display: none;
}
.fieldset .field.required .label:after,
.fieldset .fields .field.required .label:after,
.fieldset .field._required .label:after,
.fieldset .fields .field._required .label:after {
  content: "*";
  color: #e02b27;
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}
.fieldset .field .note,
.fieldset .fields .field .note {
  font-size: 1.2rem;
  margin: 3px 0 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
}
.fieldset .field .note:before,
.fieldset .fields .field .note:before {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: 12px;
  content: "\e618";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.legend + .fieldset,
.legend + div {
  clear: both;
}
.legend strong {
  margin-left: 5px;
}
fieldset.field {
  border: 0;
  padding: 0;
}
.field.date .time-picker {
  display: inline-block;
  margin-top: 10px;
  white-space: nowrap;
}
.field .tooltip {
  position: relative;
}
.field .tooltip .tooltip-content {
  background: #fff;
  max-width: 360px;
  min-width: 210px;
  padding: 12px 16px;
  z-index: 100;
  display: none;
  position: absolute;
  text-align: left;
  color: #333;
  line-height: 1.4;
  border: 1px solid #bbb;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.field .tooltip .tooltip-content:after,
.field .tooltip .tooltip-content:before {
  border: solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.field .tooltip .tooltip-content:after {
  border-width: 5px;
  border-color: transparent;
}
.field .tooltip .tooltip-content:before {
  border-width: 6px;
  border-color: transparent;
}
.field .tooltip .tooltip-content:after,
.field .tooltip .tooltip-content:before {
  right: 100%;
}
.field .tooltip .tooltip-content:after {
  border-right-color: #fff;
  margin-top: -5px;
  top: 15px;
}
.field .tooltip .tooltip-content:before {
  border-right-color: #bbb;
  margin-top: -6px;
  top: 15px;
}
.field .tooltip .tooltip-toggle {
  cursor: help;
}
.field .tooltip .tooltip-toggle:hover + .tooltip-content,
.field .tooltip .tooltip-toggle:focus + .tooltip-content,
.field .tooltip:hover .tooltip-content {
  display: block;
}
.field .tooltip .tooltip-content {
  min-width: 200px;
  white-space: normal;
}
input:focus ~ .tooltip .tooltip-content,
select:focus ~ .tooltip .tooltip-content {
  display: block;
}
button,
a.action.primary,
.cart.table-wrapper .actions-toolbar .action{
  border-radius: 3px;
}
button:active,
.cart.table-wrapper .actions-toolbar .action:active{
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.12);
}
a.action.primary {
  display: inline-block;
  text-decoration: none;
}
a.action.primary:hover,
a.action.primary:active,
a.action.primary:focus {
  text-decoration: none;
}
.action.primary:focus,
.action.primary:active {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
.action.primary:hover {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
.action.primary.disabled,
.action.primary[disabled],
fieldset[disabled] .action.primary {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.product.data.items {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.product.data.items .item.title {
  box-sizing: border-box;
  float: none;
  width: 100%;
}
.product.data.items .item.title .switch {
  display: block;
}
.product.data.items .item.content {
  box-sizing: border-box;
  display: block;
  float: none;
  margin: 0;
}
.product.data.items .item.content:before,
.product.data.items .item.content:after {
  content: "";
  display: table;
}
.product.data.items .item.content:after {
  clear: both;
}
.product.data.items .item.content.active {
  display: block;
}
.product.data.items .item.title {
  margin: 0 0 5px;
}
.product.data.items .item.title .switch {
  background: #f0f0f0;
  border-bottom: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  height: 40px;
  padding: 5px 20px 5px 20px;
  font-weight: 600;
  line-height: 40px;
  font-size: 1.8rem;
  color: #7d7d7d;
  text-decoration: none;
}
.product.data.items .item.title .switch:visited {
  color: #7d7d7d;
  text-decoration: none;
}
.product.data.items .item.title .switch:hover {
  color: #7d7d7d;
  text-decoration: none;
}
.product.data.items .item.title .switch:active {
  color: #333;
  text-decoration: none;
}
.product.data.items .item.title:not(.disabled) .switch:focus,
.product.data.items .item.title:not(.disabled) .switch:hover {
  background: #fcfcfc;
}
.product.data.items .item.title:not(.disabled) .switch:active,
.product.data.items .item.title.active .switch,
.product.data.items .item.title.active .switch:focus,
.product.data.items .item.title.active .switch:hover {
  background: #fff;
  padding-bottom: 5px;
}
.product.data.items .item.content {
  background: #fff;
  border: 1px solid #d1d1d1;
  margin: 0 0 5px;
  padding: 20px 20px 20px 20px;
}
.pages .label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pages .items {
  font-size: 0;
  letter-spacing: -1px;
  line-height: 0;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  list-style: none none;
  display: inline-block;
  font-weight: 700;
}
.pages .item {
  font-size: 1.2rem;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 32px;
  margin: 0 2px 0 0;
  display: inline-block;
}
.pages .item .label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pages a.page {
  color: #1979c3;
  display: inline-block;
  padding: 0 4px;
  text-decoration: none;
}
.pages a.page:visited {
  color: #1979c3;
}
.pages a.page:hover {
  color: #006bb4;
  text-decoration: none;
}
.pages a.page:active {
  color: #ff5501;
}
.pages strong.page {
  font-size: 1.2rem;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 32px;
  color: #333;
  display: inline-block;
  font-weight: 700;
  padding: 0 4px;
}
.pages .action {
  border: 1px solid #d1d1d1;
  color: #7d7d7d;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}
.pages .action:visited {
  color: #7d7d7d;
}
.pages .action:hover {
  color: #7d7d7d;
  text-decoration: none;
}
.pages .action:active {
  color: #7d7d7d;
}
.pages .action.next {
  display: inline-block;
  text-decoration: none;
}
.pages .action.next:visited:before {
  color: #7d7d7d;
}
.pages .action.next:active:before {
  color: #7d7d7d;
}
.pages .action.next span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pages .action.next:before {
  -webkit-font-smoothing: antialiased;
  font-size: 46px;
  line-height: inherit;
  color: #7d7d7d;
  content: "\e608";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0 0 0 -6px;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.pages .action.next:hover:before {
  color: #7d7d7d;
}
.pages .action.next:active:before {
  color: #7d7d7d;
}
.pages .action {
  width: 34px;
}
.pages .action.next {
  margin-left: 12px;
}
.actions-toolbar .primary,
.actions-toolbar .secondary {
  text-align: center;
  margin-bottom: 10px;
}
.actions-toolbar .primary .action,
.actions-toolbar .secondary .action {
  margin-bottom: 10px;
}
.actions-toolbar .primary .action:last-child,
.actions-toolbar .secondary .action:last-child {
  margin-bottom: 0;
}
.actions-toolbar .primary:last-child,
.actions-toolbar .secondary:last-child {
  margin-bottom: 0;
  margin-right: 10px;
}
.breadcrumbs {
  margin: 0 0 20px;
}
.breadcrumbs .items {
  font-size: 1.2rem;
  color: #a3a3a3;
  margin: 0;
  padding: 0;
  list-style: none none;
}
.breadcrumbs .items li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs .item {
  margin: 0;
}
.breadcrumbs a {
  color: #333;
  text-decoration: none;
}
.breadcrumbs a:visited {
  color: #333;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: #333;
  text-decoration: underline;
}
.breadcrumbs a:active {
  color: #333;
  text-decoration: none;
}
.breadcrumbs strong {
  font-weight: 400;
}
.breadcrumbs .item:not(:last-child) {
  display: inline-block;
  text-decoration: none;
}
.breadcrumbs .item:not(:last-child):after {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: 18px;
  content: "\e608";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.ui-dialog.popup .action.close {
  position: absolute;
  height: 40px;
  right: 0;
  top: 0;
  width: 40px;
  z-index: 1001;
  display: inline-block;
  background-image: none;
  background: none;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
}
.ui-dialog.popup .action.close span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-dialog.popup .action.close:before {
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  content: "\e616";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.ui-dialog.popup .action.close:hover:before {
  color: inherit;
}
.ui-dialog.popup .action.close:active:before {
  color: inherit;
}
.ui-dialog.popup .action.close:focus,
.ui-dialog.popup .action.close:active {
  background: none;
  border: none;
}
.ui-dialog.popup .action.close:hover {
  background: none;
  border: none;
}
.ui-dialog.popup .action.close.disabled,
.ui-dialog.popup .action.close[disabled],
fieldset[disabled] .ui-dialog.popup .action.close {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.popup-pointer {
  margin-left: -14px;
  position: absolute;
  top: -14px;
}
.popup-pointer:before,
.popup-pointer:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-bottom-style: solid;
}
.popup-pointer:before {
  left: 2px;
  top: 2px;
  border: solid 6px;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
}
.popup-pointer:after {
  left: 1px;
  top: 0px;
  border: solid 7px;
  border-color: transparent transparent #aeaeae transparent;
  z-index: 98;
}
.products {
  margin: 30px 0;
}
.product-item {
  vertical-align: top;
}
.products-grid .product-item {
  display: inline-block;
  width: 50%;
}
.product-item-name {
  display: block;
  hyphens: auto;
  margin: 5px 0;
  word-wrap: break-word;
}
.product-item-info {
  max-width: 100%;
}
.page-products .product-item-info {
  width: 240px;
}
.product-item-actions .actions-secondary .action:before {
  margin: 0;
}
.product-item-description {
  margin: 25px 0;
}
.product-item .price-box .price {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}
.product-item .price-box .price-label {
  font-size: 12px;
}
.product-item .price-box .price-label:after {
  content: ":";
}
.product-item .special-price .price,
.product-item .minimal-price .price {
  font-size: 1.4rem;
  font-weight: 700;
}
.product-item .special-price .price-wrapper,
.product-item .minimal-price .price-wrapper {
  display: inline-block;
}
.product-item .old-price .price {
  font-weight: 400;
}
.product-item .minimal-price .price-container {
  display: block;
}
.product-item .minimal-price-link {
  margin-top: 5px;
}
.product-item .minimal-price-link .price-label {
  color: #1979c3;
  font-size: 1.4rem;
}
.product-item .minimal-price-link .price {
  font-weight: 400;
}
.product-item .price-from,
.product-item .price-to {
  margin: 0;
}
.product-item .tocart {
  white-space: nowrap;
}
.column.main .product-items {
  margin-left: -20px;
}
.column.main .product-item {
  padding-left: 20px;
}
.price-container .price {
  font-size: 1.4rem;
}
.products-list .product-item {
  display: table;
  width: 100%;
}
.products-list .product-item-info {
  display: table-row;
}
.products-list .product-item-photo {
  display: table-cell;
  padding: 0 30px 30px 0;
  vertical-align: top;
  width: 1%;
}
.products-list .product-item-details {
  display: table-cell;
  vertical-align: top;
}
.page-products .columns {
  position: relative;
  z-index: 1;
}
.old-price,
.old.price {
  text-decoration: line-through;
}
.category-image .image {
  display: block;
  height: auto;
  max-width: 100%;
}
.category-image,
.category-description {
  margin-bottom: 20px;
}
.product-image-container {
  display: inline-block;
  max-width: 100%;
}
.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-image-photo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.product.media .placeholder .photo.container {
  max-width: 100%;
}
.product.media .notice {
  color: #7d7d7d;
  font-size: 1.2rem;
  margin: 10px 0;
}
.product.media .product.thumbs {
  margin: 20px 0 30px;
}
.product.media .items.thumbs {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.product.media .items.thumbs li {
  display: inline-block;
  vertical-align: top;
}
.product.media .items.thumbs .active {
  display: block;
  line-height: 1;
}
.product.info.detailed {
  clear: both;
  margin-bottom: 30px;
}
.product.info.detailed .additional-attributes {
  width: auto;
}
.product.info.detailed .additional-attributes thead tr td,
.product.info.detailed .additional-attributes tbody tr td,
.product.info.detailed .additional-attributes tfoot tr td {
  padding: 4px 5px 10px 5px;
}
.product.info.detailed .additional-attributes thead tr th,
.product.info.detailed .additional-attributes tbody tr th,
.product.info.detailed .additional-attributes tfoot tr th {
  padding: 4px 30px 10px 0;
}
.product-info-main .page-title-wrapper .page-title {
  line-height: 1.42857143;
  margin-bottom: 10px;
}
.product-info-main .stock.available,
.product-info-main .stock.unavailable {
  display: inline-block;
  font-weight: 700;
  margin-right: 20px;
  text-transform: uppercase;
  vertical-align: top;
}
.product-info-main .product.attribute.sku {
  display: inline-block;
  vertical-align: top;
  color: #7d7d7d;
}
.product-info-main .product.attribute.sku .value {
  display: inline-block;
  vertical-align: top;
  word-break: break-all;
}
.product-info-main .product.attribute.sku .type {
  margin-right: 5px;
}
.product-info-main .product.attribute.overview {
  margin: 20px 0;
}
.product-info-main .product.alert {
  margin: 10px 0;
}
.product-info-main .price-box {
  margin-top: 10px;
}
.product-options-wrapper .fieldset-product-options-inner .legend {
  font-weight: 700;
  margin: 0 0 5px;
  font-size: 1.4rem;
  border: none;
  display: inline-block;
  float: none;
  padding: 0;
}
.product-options-wrapper .fieldset-product-options-inner.required .legend:after,
.product-options-wrapper
  .fieldset-product-options-inner._required
  .legend:after {
  content: "*";
  color: #e02b27;
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}
.product-options-wrapper .field .note {
  display: block;
}
.product-info-main .price-box .price-wrapper .price,
.product-options-bottom .price-box .price-wrapper .price {
  font-size: 1.8rem;
  font-weight: 700;
}
.product-info-main .price-box .price,
.product-options-bottom .price-box .price {
  white-space: nowrap;
}
.product-info-main .special-price,
.product-options-bottom .special-price {
  display: block;
  margin: 10px 0;
}
.product-info-main .special-price .price-container,
.product-options-bottom .special-price .price-container {
  font-size: 1.4rem;
}
.product-info-main .special-price .price-label + .price-wrapper,
.product-options-bottom .special-price .price-label + .price-wrapper {
  display: inline-block;
}
.product-info-main .old-price .price-label:after,
.product-options-bottom .old-price .price-label:after,
.product-info-main .special-price .price-label:after,
.product-options-bottom .special-price .price-label:after {
  content: ": ";
}
.product-info-main .box-tocart,
.product-options-bottom .box-tocart {
  margin: 20px 0;
}
.product-info-main .box-tocart .field.qty,
.product-options-bottom .box-tocart .field.qty {
  padding-right: 15px;
}
.product-info-main .box-tocart .input-text.qty,
.product-options-bottom .box-tocart .input-text.qty {
  height: 52px;
  text-align: center;
  width: 52px;
}
.product-info-main .box-tocart .actions,
.product-options-bottom .box-tocart .actions {
  text-align: center;
}
.product-info-main .product-addto-links,
.product-options-bottom .product-addto-links {
  margin: 20px 0;
}
.ui-dialog-titlebar-close {
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  color: #1979c3;
  text-decoration: none;
  background: none;
  border: 0;
  display: inline;
}
.ui-dialog-titlebar-close:visited {
  color: #1979c3;
  text-decoration: none;
}
.ui-dialog-titlebar-close:hover {
  color: #006bb4;
  text-decoration: underline;
}
.ui-dialog-titlebar-close:active {
  color: #ff5501;
  text-decoration: underline;
}
.ui-dialog-titlebar-close:hover {
  color: #006bb4;
}
.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:active,
.ui-dialog-titlebar-close:focus {
  background: none;
  border: 0;
}
.ui-dialog-titlebar-close.disabled,
.ui-dialog-titlebar-close[disabled],
fieldset[disabled] .ui-dialog-titlebar-close {
  color: #1979c3;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  text-decoration: underline;
}
.block-search {
  margin-bottom: 0;
}
.block-search .block-content {
  margin-bottom: 0;
}
.block-search .label {
  text-decoration: none;
  display: inline-block;
  float: right;
}
.block-search .label span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-search .label:before {
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  line-height: 33px;
  color: #808080;
  content: "\e615";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.block-search .label:hover:before {
  color: #333;
}
.block-search .label:active:before {
  color: #333;
}
.block-search .label.active + .control input {
  position: static;
}
.block-search .action.search {
  display: none;
}
.block-search .control {
  border-top: 1px solid #d1d1d1;
  clear: both;
  margin: 0 -15px -1px;
  padding: 0 15px;
}
.block-search input {
  left: -300%;
  margin: 15px 0;
  position: absolute;
}
.search.summary {
  margin-bottom: 10px;
}
.cart-summary {
  margin-bottom: 25px;
  padding: 1px 15px 25px;
}
.cart-summary > .title {
  display: block;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.cart-summary .block {
  margin-bottom: 0;
}
.cart-summary .block .item-options {
  margin-left: 0;
}
.cart-summary .block .fieldset {
  margin: 15px 0 25px 5px;
}
.cart-summary .block .fieldset .field {
  margin: 0 0 10px;
}
.cart-summary .block .fieldset .field.note {
  font-size: 12px;
}
.cart-summary .block .fieldset .methods .field .label {
  display: inline;
}
.cart-totals {
  border-top: 1px solid #d1d1d1;
  padding-top: 10px;
}
.cart-totals .table-wrapper {
  margin-bottom: 0;
  overflow: inherit;
}
.cart.table-wrapper .items thead + .item {
  border-top: 1px solid #d1d1d1;
}
.cart.table-wrapper .items .item {
  position: relative;
}
.cart.table-wrapper .col {
  padding-top: 20px;
}
.cart.table-wrapper .col.qty {
  padding-top: 0;
}
.cart.table-wrapper .col.qty .input-text {
  margin-top: -5px;
}
.cart.table-wrapper .item-actions td {
  padding-bottom: 10px;
  text-align: center;
  white-space: normal;
}
.cart.table-wrapper .item .col.item {
  display: block;
  min-height: 75px;
  padding: 25px 0 10px 75px;
  position: relative;
}
.cart.table-wrapper .actions-toolbar .action{
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cart.table-wrapper .actions-toolbar .action:hover,
.cart.table-wrapper .actions-toolbar .action:active,
.cart.table-wrapper .actions-toolbar .action:focus{
  text-decoration: none;
}
.cart.table-wrapper .actions-toolbar .action:last-child{
  margin-right: 0;
}
.cart.table-wrapper .product-item-photo {
  display: block;
  left: 0;
  max-width: 60px;
  padding: 0;
  position: absolute;
  top: 15px;
  width: 100%;
}
.cart.table-wrapper .product-item-details {
  white-space: normal;
}
.cart.table-wrapper .product-item-name {
  display: inline-block;
  font-weight: 400;
  margin-top: -6px;
}
.cart.table-wrapper .item-options {
  font-size: 12px;
  margin-bottom: 10px;
}
.cart.table-wrapper .product-item-name + .item-options {
  margin-top: 10px;
}
.cart-tax-info + .cart-tax-total,
.cart .cart-tax-info + .cart-tax-total {
  display: block;
}
.block-minicart .items-total {
  float: left;
  margin: 0 10px;
}
.block-minicart .items-total .count {
  font-weight: 700;
}
.block-minicart .subtotal {
  margin: 0 10px;
  text-align: right;
}
.block-minicart .amount .price-wrapper:first-child .price {
  font-size: 18px;
  font-weight: 700;
}
.block-minicart .text.empty {
  text-align: center;
}
.block-minicart .block-content .actions {
  margin-top: 15px;
  text-align: center;
}
.block-minicart .block-content .actions .primary {
  margin: 0 10px 15px;
}
.block-minicart .block-content .actions .primary .action.primary {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
.block-minicart
  .block-content
  .actions
  .primary
  .action.primary:last-child {
  margin-bottom: 0;
}
.block-minicart .block-product-link,
.block-minicart .block-cms-link,
.block-minicart .block-banners {
  margin: 15px 0 0;
  text-align: center;
}
.minicart-wrapper {
  display: inline-block;
  position: relative;
  float: right;
}
.minicart-wrapper:before,
.minicart-wrapper:after {
  content: "";
  display: table;
}
.minicart-wrapper:after {
  clear: both;
}
.minicart-wrapper .action.showcart {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart:before {
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  line-height: 33px;
  color: #808080;
  content: "\e611";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.minicart-wrapper .action.showcart:hover:before {
  color: #333;
}
.minicart-wrapper .action.showcart:active:before {
  color: #808080;
}
.minicart-wrapper .action.showcart.active {
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart.active:before {
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  line-height: 33px;
  color: #808080;
  content: "\e611";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.minicart-wrapper .action.showcart.active:hover:before {
  color: #333;
}
.minicart-wrapper .action.showcart.active:active:before {
  color: #808080;
}
.minicart-wrapper .block-minicart {
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #fff;
  border: 1px solid #bbb;
  margin-top: 4px;
  min-width: 100%;
  z-index: 100;
  box-sizing: border-box;
  display: none;
  top: 100%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.minicart-wrapper .block-minicart li {
  margin: 0;
}
.minicart-wrapper .block-minicart li:hover {
  cursor: pointer;
}
.minicart-wrapper .block-minicart:before,
.minicart-wrapper .block-minicart:after {
  border-bottom-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.minicart-wrapper .block-minicart:before {
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
}
.minicart-wrapper .block-minicart:after {
  border: 7px solid;
  border-color: transparent transparent #bbb transparent;
  z-index: 98;
}
.minicart-wrapper .block-minicart:before {
  left: 10px;
  top: -12px;
}
.minicart-wrapper .block-minicart:after {
  left: 9px;
  top: -14px;
}
.minicart-wrapper.active {
  overflow: visible;
}
.minicart-wrapper.active .block-minicart {
  display: block;
  position: absolute;
}
.minicart-wrapper .block-minicart {
  padding: 25px 20px !important;
  right: 0;
  width: 320px;
}
.minicart-wrapper .block-minicart:after {
  left: auto;
  right: 25px;
}
.minicart-wrapper .block-minicart:before {
  left: auto;
  right: 26px;
}
.minicart-wrapper .product .actions {
  float: right;
  margin: -24px 0 0;
  text-align: right;
}
.minicart-wrapper .product .actions .primary,
.minicart-wrapper .product .actions .secondary {
  display: inline;
}
.minicart-wrapper .action.close {
  display: inline-block;
  background-image: none;
  background: none;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
.minicart-wrapper .action.close span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-wrapper .action.close:before {
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 32px;
  color: inherit;
  content: "\e616";
  font-family: "Font Awesome\ 5 Pro";
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.minicart-wrapper .action.close:hover:before {
  color: inherit;
}
.minicart-wrapper .action.close:active:before {
  color: inherit;
}
.minicart-wrapper .action.close:focus,
.minicart-wrapper .action.close:active {
  background: none;
  border: none;
}
.minicart-wrapper .action.close:hover {
  background: none;
  border: none;
}
.minicart-wrapper .action.close.disabled,
.minicart-wrapper .action.close[disabled],
fieldset[disabled] .minicart-wrapper .action.close {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.minicart-wrapper .action.showcart {
  white-space: nowrap;
}
.minicart-wrapper .action.showcart .counter.qty.empty {
  display: none;
}
.minicart-wrapper .action.showcart .counter.qty .loader img {
  max-width: 24px;
}
.minicart-wrapper .minicart-widgets {
  margin-top: 15px;
}
.minicart-items-wrapper {
  border: 1px solid #ccc;
  margin: 0 -20px;
  border-left: 0;
  border-right: 0;
  overflow-x: auto;
  padding: 15px;
}
.minicart-items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.minicart-items .product-item {
  padding: 20px 0;
}
.minicart-items .product-item:not(:first-child) {
  border-top: 1px solid #ccc;
}
.minicart-items .product-item:first-child {
  padding-top: 0;
}
.minicart-items .product-item-pricing .label {
  display: inline-block;
  width: 4.5rem;
}
.minicart-items .price-minicart {
  margin-bottom: 5px;
}
.minicart-items .product .product-item-photo,
.minicart-items .product .product-image-container {
  float: left;
}
.minicart-items .product .toggle {
  display: block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.minicart-items .product .toggle:after {
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: 16px;
  color: inherit;
  content: "\e622";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.minicart-items .product .toggle:after {
  position: static;
  right: 20px;
  top: 0;
}
.minicart-items .product.active .toggle:after {
  content: "\e621";
}
.minicart-items .product-item-name {
  font-weight: 400;
  margin: 0 0 10px;
}
.minicart-items .product-item-name a {
  color: #1979c3;
}
.minicart-items .product-item-details {
  padding-left: 88px;
}
.minicart-items .product-item-details .price {
  font-weight: 700;
}
.minicart-items .product-item-details .details-qty {
  margin-top: 10px;
}
.minicart-items .product.options .tooltip.toggle {
  display: inline-block;
  text-decoration: none;
}
.minicart-items .product.options .tooltip.toggle span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-items .product.options .tooltip.toggle:after {
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: 28px;
  color: inherit;
  content: "\e622";
  font-family: "Font Awesome\ 5 Pro";
  margin: -3px 0 0 7px;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.minicart-items .product.options .tooltip.toggle .details {
  display: none;
}
.minicart-items .item-qty {
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.minicart-items .update-cart-item {
  font-size: 1.1rem;
  vertical-align: top;
}
.minicart-items .action.edit,
.minicart-items .action.delete {
  display: inline-block;
  text-decoration: none;
}
.minicart-items .action.edit span,
.minicart-items .action.delete span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-items .action.edit:before,
.minicart-items .action.delete:before {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #303030;
  content: "\f044";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
}
.minicart-items .action.edit:hover:before,
.minicart-items .action.delete:hover:before {
  color: #303030;
}
.minicart-items .action.edit:active:before,
.minicart-items .action.delete:active:before {
  color: #303030;
}
.minicart-items .action.delete:before {
  content: "\f1f8";
}
.field-tooltip {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1px;
}
.field-tooltip .field-tooltip-action {
  display: inline-block;
  text-decoration: none;
}
.field-tooltip .field-tooltip-action span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.field-tooltip .field-tooltip-action:before {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: inherit;
  color: #bbb;
  content: "\e623";
  font-family: "Font Awesome\ 5 Pro";
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  
  text-align: center;
}
.field-tooltip .field-tooltip-action:hover:before {
  color: #333;
}
.field-tooltip .field-tooltip-content {
  background: #f4f4f4;
  border: 1px solid #999;
  border-radius: 1px;
  font-size: 14px;
  padding: 12px;
  width: 270px;
  display: none;
  left: 38px;
  position: absolute;
  text-transform: none;
  top: -9px;
  word-wrap: break-word;
  z-index: 2;
}
.field-tooltip .field-tooltip-content:before,
.field-tooltip .field-tooltip-content:after {
  border: 10px solid transparent;
  height: 0;
  width: 0;
  border-right-color: #f4f4f4;
  left: -21px;
  top: 12px;
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
}
.field-tooltip .field-tooltip-content:before {
  border-right-color: #666;
}
.field-tooltip .field-tooltip-content:after {
  border-right-color: #f4f4f4;
  width: 1px;
  z-index: 4;
}
.login-container .block-new-customer .actions-toolbar {
  margin-top: 25px;
}
.login-container .fieldset:after {
  margin: 10px 0 0;
  display: block;
  letter-spacing: normal;
  word-spacing: normal;
  color: #e02b27;
  font-size: 1.2rem;
}
.login-container .fieldset:after {
  margin-top: 35px;
}
.account .column.main h2 {
  margin-top: 0;
}
.account .table-wrapper:last-child {
  margin-bottom: 0;
}
.account .table-wrapper .action {
  margin-right: 15px;
}
.account .table-wrapper .action:last-child {
  margin-right: 0;
}
.column.main .block:last-child {
  margin-bottom: 0;
}
.block .title {
  margin-bottom: 10px;
}
.block .title strong {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.column.main .block .title strong {
  font-size: 18px;
}
.block p:last-child {
  margin: 0;
}
.block .box-actions {
  margin-top: 5px;
}
.field.password .control {
  display: flex;
  flex-direction: column;
}
.field.password .control .input-text {
  order: 0;
}
.password-strength-meter {
  background-color: #f4f4f4;
  height: 32px;
  line-height: 32px;
  padding: 0 9px;
  position: relative;
  z-index: 1;
}
.password-strength-meter:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.password-strength-meter-0 .password-strength-meter:before {
  background-color: #f4f4f4;
  width: 100%;
}
.password-strength-meter-1 .password-strength-meter:before {
  background-color: #ffafae;
  width: 25%;
}
.password-strength-meter-2 .password-strength-meter:before {
  background-color: #ffd6b3;
  width: 50%;
}
.password-strength-meter-3 .password-strength-meter:before {
  background-color: #c5eeac;
  width: 75%;
}
.password-strength-meter-4 .password-strength-meter:before {
  background-color: #81b562;
  width: 100%;
}
.control.captcha-image {
  margin-top: 10px;
}
.control.captcha-image .captcha-img {
  vertical-align: middle;
}
.downloadable.samples {
  margin-bottom: 20px;
}
.downloadable.samples dd {
  margin: 0 0 10px;
}
.table-downloadable-products .product-name {
  margin-right: 15px;
}
.field.downloads .price-container {
  display: inline;
  white-space: nowrap;
}
.field.downloads .price-container:before {
  content: " + ";
  display: inline;
}
.field.downloads .sample.link {
  float: right;
}
.page-product-downloadable .product-add-form {
  clear: both;
  margin-bottom: 25px;
}
.page-product-downloadable .product-options-bottom .field.qty {
  display: none !important;
}
.account .page-title-wrapper .page-title{
  margin-right: 25px;
}
body {
  background-color: #fff;
}
.page-header {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
}
.header.content {
  padding-top: 10px;
  position: relative;
}
.logo {
  float: left;
  margin: 0 0 10px 40px;
  max-width: 50%;
  position: relative;
  z-index: 5;
}
.logo img {
  display: block;
}
.page-print .logo {
  float: none;
}
.page-main .page-title-wrapper .page-title + .action {
  margin-top: 30px;
}
.footer.content {
  border-top: 1px solid #d1d1d1;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.footer.content .links li {
  margin: 0 0 8px;
}
.account .table-wrapper .data.table.wishlist thead tr th,
.account .table-wrapper .data.table.wishlist tbody tr th,
.account .table-wrapper .data.table.wishlist tfoot tr th,
.account .table-wrapper .data.table.wishlist thead tr td,
.account .table-wrapper .data.table.wishlist tbody tr td,
.account .table-wrapper .data.table.wishlist tfoot tr td {
  border-top: 1px solid #d1d1d1;
}
.account
  .table-wrapper
  .data.table.wishlist
  caption
  + thead
  tr:first-child
  th,
.account
  .table-wrapper
  .data.table.wishlist
  thead:first-child
  tr:first-child
  th,
.account
  .table-wrapper
  .data.table.wishlist
  caption
  + thead
  tr:first-child
  td,
.account
  .table-wrapper
  .data.table.wishlist
  thead:first-child
  tr:first-child
  td {
  border-top: 0;
}
.account .table-wrapper .data.table.wishlist tbody + tbody {
  border-top: 1px solid #d1d1d1;
}
.account .table-wrapper .data.table.wishlist thead tr th {
  border-bottom: 0;
}
.account .table-wrapper .data.table.wishlist tbody tr:last-child td {
  border-bottom: 1px solid #d1d1d1;
}
.account .table-wrapper .data.table.wishlist .product.name {
  display: inline-block;
  margin-bottom: 10px;
}
.account .table-wrapper .data.table.wishlist .box-tocart {
  margin: 10px 0;
}
.account .table-wrapper .data.table.wishlist .box-tocart .qty {
  vertical-align: middle;
}
.account .table-wrapper .data.table.wishlist .col.item {
  width: 50%;
}
.account .table-wrapper .data.table.wishlist .col.photo {
  max-width: 150px;
}
.account .table-wrapper .data.table.wishlist .col.selector {
  max-width: 15px;
}
.account .table-wrapper .data.table.wishlist .input-text.qty {
  margin-bottom: 10px;
}
.account .table-wrapper .data.table.wishlist .action.primary {
  vertical-align: top;
}
.account .table-wrapper .data.table.wishlist .price {
  font-weight: 700;
}
.products-grid.wishlist .product-item-photo {
  display: block;
  margin-bottom: 10px;
}
.products-grid.wishlist .product-item-name {
  margin-top: 0;
}
.products-grid.wishlist .product-item .price-box {
  margin: 0;
}
.products-grid.wishlist .product-item-comment {
  display: block;
  height: 42px;
  margin: 10px 0;
}
.products-grid.wishlist .product-item-actions * {
  margin-right: 15px;
}
.products-grid.wishlist .product-item-actions *:last-child {
  margin-right: 0;
}
.products-grid.wishlist .product-item .box-tocart input.qty {
  height: 32px;
}
.block.widget .product-item-info {
  width: auto;
}